{% load template_tags %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/zoomable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taggable.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kineticjs/kinetic-v3.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/zoomable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TaggableUtil.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/Tag.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TagGroup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/DrawingBoard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TagBoard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/DrawingAPI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggableUtil/TaggerUI.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggable.js"></script>
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/taggable.min.js"></script> !-->
</head>
<body>
    <div id="image_container">
        <div class="zoomable-left">
            <img id="{{ image.pk }}" src="{{ MEDIA_URL }}{{image.imageName}}" alt="{{ image.altText }}"></img>
        </div>
        <div class="zoomable-right">
            <div class="info-container">
            </div>
        </div>
        <input id="tagGroups" value="{{ tagGroups }}" type="hidden" />
        <input id="organisms" value="{{ organisms }}" type="hidden" />
    </div>
</body>
<script type="text/javascript">
    $('#{{ image.pk }}').taggable({
        originalData : $.parseJSON(unescape($.trim($('#tagGroups').val()))),
        parent: $('#image_container'),
        imagesUrl: '{{ STATIC_URL }}images/',
        siteUrl: '{{ SITE_URL }}',
        genomicInfo: $('#image_container').find('.info-container'),
        organisms: $.parseJSON(unescape($.trim($('#organisms').val())))
    });
</script>