<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" />
	<!--[if IE]> 
	<style>
		.right_container {
			display: inline;
		}

		.left_container {
			display: inline;	
			float: left
		}
	</style>
	<![endif]-->
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/ImagesUI/zoomable.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/zoomable.css" type="text/css" />
</head>
<div class="left_container">
	<img id="phylogenetic_tree" src="{{ STATIC_URL }}images/phylogenetic_tree.png" alt="Phylogenetic Tree" title="Phylogenetic Tree" />
</div>
<div class="right_container">
	<div id="search_selected">
		<div style="display: inline-block; margin-right: 15px;">
			<label>Photo</label><input id="search_photos" name="search_photos" type="checkbox" checked="checked" value="Yes" />
			<label>Genome</label><input id="search_genomes" name="search_genomes" type="checkbox" checked="checked" value="Yes" />
		</div>
		<div style="display: inline-block;">
			<button class="search_button"></button>
		</div>
	</div>           
	<div id="mycoplasma_selector_menu">
		<ol id="selectable">
		{% for organism in all_mycoplasma %}
			<li class="ui-widget-content" id="{{organism.common_name}}">{{organism.common_name}}</li>
		{% endfor %}
		</ol>
	</div>
</div>	
<style>
	#selectable .ui-selecting { background: paleblue; cursor: pointer;}
	#selectable .ui-selected { background: #AAAAAA; color: white; }
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#selectable li { margin: 3px; padding: 0.4em; font-size: 15; border-bottom: 1px solid #CCCCCC;}
    #selectable li:hover { cursor: pointer; }
</style>
<script>
    $(function() {
	    $( "#selectable" ).selectable();
    });

    $('#search_selected button').bind('click', function() {	           
            var selected_id = $('.ui-selected').map(function() {            
                return this.id;
            }).get().join(' & ');
            if (selected_id != "") {
		        var form = document.createElement("form");
                form.setAttribute("method", "get");
                form.setAttribute("action", "{{ SITE_URL }}search/");
                hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "search_val");
                hiddenField.setAttribute("value", selected_id);
                form.appendChild(hiddenField);
                form.appendChild($('#search_genomes').clone()[0]);  
                form.appendChild($('#search_photos').clone()[0]);  
                document.body.appendChild(form);
                form.submit();
            }
    });
    
    $('#phylogenetic_tree').zoomable({
    	originalHeight: 800,
    	originalWidth: 660
    });
</script>
