{% load template_tags %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/workbench.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/zoomable.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taggable.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}js/collapser/collapser.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/kineticjs/kinetic-v3.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/zoomable/zoomable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/taggable/taggable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/webServiceClient/WebServiceClient.js"></script>
</head>
<body>
	<div id="left-toolbar">
		<div class="workbench-area toolbar">
			<div class="toolbar-header">
				<div><img class="collapse" src="{{ STATIC_URL }}images/arrow_down.png"></img></div>
				<div><span class="toolbar-title">My Pictures</span></div>
				<div class="toolbar-options">
					<span>Public</span><input id="public-pictures" name="public-pictures" type="checkbox" checked="checked" />
					<span>Private</span><input id="private-pictures" name="private-pictures" type="checkbox" checked="checked" />
				</div>
			</div>
			<div class="toolbar-body">
				<div class="image-thumbnail-container">
					<div>
					{% for image in myImages %}
						<div class="my-pictures-image-holder">
							<img src="{{ MEDIA_URL }}{{ image.image.imageName }}" name="{{ image.image.pk }}" class="{{ image.permissions }}-image my-pictures-image" />
						</div>
						{% if forloop.counter|mod:2 %}
			                </div><div>
			            {% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="workbench-area toolbar">
			<div class="toolbar-header">
				<div><img class="collapse" src="{{ STATIC_URL }}images/arrow_down.png"></img></div>
				<div><span class="toolbar-title">Recently Viewed Images</span></div>
			</div>
			<div class="toolbar-body">
				<div class="image-thumbnail-container">
				
				</div>
			</div>
		</div>
		<div class="workbench-area toolbar">
			<div class="toolbar-header">
				<div><img class="collapse" src="{{ STATIC_URL }}images/arrow_down.png"></img></div>
				<div><span class="toolbar-title">My Tags</span></div>
				<div class="toolbar-options">
					<span>Public</span><input id="public-tags" name="public-tags" type="checkbox" checked="checked" />
					<span>Private</span><input id="private-tags" name="private-tags" type="checkbox" checked="checked" />
				</div>
			</div>
			<div class="toolbar-body">
				<div class="image-thumbnail-container">
				
				</div>
			</div>
		</div>
	</div>
	<div id="center-work-area">
		<div id="header">Workbench</div>
		<div id="work-area" class="workbench-area"></div>
	</div>
</body>
<script type="text/javascript">
	// allows each of the toolbars to be collapsible
	$('.toolbar-header').collapser({
		selector: '.toolbar-body',
		siblings: true
	});

	// centers all of the images in there containers so that they fit correctly
	$('.my-pictures-image').load(function() {
		var $img = $(this);
		var $parent = $img.parent();
		var imgRatio = $img.width()/$img.height();
		var containerRatio = $parent.width()/$parent.height();
		if (imgRatio > containerRatio) {
			$img.css('width', $parent.width());
			var topVal = ($parent.height() - $img.height())/2;
			$img.css('top', topVal);
		}
		else if (imgRatio <= containerRatio) {
			$img.css('height', $parent.height());
			var leftVal = ($parent.width() - $img.width())/2;
			$img.css('left', leftVal);
		}
	});

	// calls the getTags web service for this image in order to
	// get the tags for the picture and stores them in cache so
	// that only a ping is needed for the next time
	$('.my-pictures-image').on('click', function() {		
		var $imgClone = $(this).clone();
		$imgClone.attr('id', 'current-editing');
		var key = $(this).attr('name');
		
		var client = new WebServiceClient('{{ SITE_URL }}images/getTags');
		var args = {
			imageKey : key
		};
		
		var callback = function(data) {
			var $workArea = $('#work-area');
			$workArea.empty();
			// add workArea clone to the div
			$workArea.append($imgClone);
			$imgClone.taggable({
		        originalData : data.tags,
		        parent: $workArea,
		        imagesUrl: '{{ STATIC_URL }}images/',
		        alreadyLoaded: true
		    });
		};
		
		client.call(args, callback);		
	});

	// check boxes should limit the field of my pictures to public and private
	$('#public-pictures').on('click', function() {
		if (!$(this).is(':checked')) {
			$('.public-image').parent().hide();
		}
		else {
			$('.public-image').parent().show();
		}
	});

	$('#private-pictures').on('click', function() {
		if (!$(this).is(':checked')) {
			$('.private-image').parent().hide();
		}
		else {
			$('.private-image').parent().show();
		}
	});

	
</script>